<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <title>Test</title>
          <link rel="stylesheet" href="/styles/resets.css">
          <link rel="stylesheet" href="/styles/base.css">
          <link rel="stylesheet" href="/styles/header.css">
          <link rel="stylesheet" href="/styles/form.css">
          <link rel="stylesheet" href="/styles/footer.css"> -->
</head>

<body>
  <section class="dashboard-section">
    <div class="dashboard main-container">
      <div class="report-area shadow-s">
        <h4 class="report-area__heading">Text Score</h4>
        <p class="report-area__value" id="score"></p>
        <h4 class="report-area__heading">Confidence</h4>
        <p class="report-area__value" id="confidence"></p>
        <h4 class="report-area__heading"></h4>
        <p class="report-area__value" id="agreement"></p>
        <h4 class="report-area__heading">Irony</h4>
        <p class="report-area__value" id="irony"></p>
        <a href="index.html" class="btn-primary btn shadow-xxs">Analyse another text</a>
      </div>
      <div class="userText-area shadow-s">
        <h4 class="userText-area__heading">Your text</h4>
        <p class="userText-area__text" id="user-text"></p>
      </div>
    </div>
  </section>

</body>

</html>