<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
</head>

<body>

    <header class="hero-section">
        <div class="hero main-container">
            <h1 class="hero__heading">Analyse text in an instant</h1>
            <p class="hero__subheading">Simply type or paste your text below and let our app take charge of the rest.
                Please note the maximum number of characters is 5000</p>
            <form id="form" class="hero__form" onsubmit="return Client.performAction(event)">
                <textarea name="input" id="textarea" rows="10"
                    class="hero__form-textarea shadow-s"></textarea>
                <input type="submit" name="" class="btn-primary btn shadow-xxs" value="Analyse"
                    onclick="return Client.performAction(event)" onsubmit="return Client.performAction(event)">
            </form>
        </div>
        <div class="dashboard main-container">
            <div class="report-area shadow-s">
                <h4 class="report-area__heading">Text Score</h4>
                <p class="report-area__value" id="score"></p>
                <h4 class="report-area__heading">Confidence</h4>
                <p class="report-area__value" id="confidence"></p>
                <h4 class="report-area__heading">Polarity</h4>
                <p class="report-area__value" id="agreement"></p>
                <h4 class="report-area__heading">Irony</h4>
                <p class="report-area__value" id="irony"></p>
                <a href="index.html" class="report-area__btn btn-primary btn shadow-xxs">Analyse another text</a>
            </div>
        </div>
    </header>


    <!-- <section class="dashboard-section">
        <div class="dashboard main-container">
            <div class="report-area shadow-s">
                <h4 class="report-area__heading">Text Score</h4>
                <p class="report-area__value">65</p>
                <h4 class="report-area__heading">Value #2</h4>
                <p class="report-area__value">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <h4 class="report-area__heading">Value #3</h4>
                <p class="report-area__value">Medium</p>
                <a href="index.html" class="btn-primary btn shadow-xxs">Analyse another text</a>
            </div>
            <div class="userText-area shadow-s">
                <h4 class="userText-area__heading">Your text</h4>
                <p class="userText-area__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
                    molestias
                    debitis harum tempora ea quos, amet expedita a iusto, eveniet cupiditate vel fuga nemo cumque
                    sapiente.
                    Reprehenderit quod nostrum quaerat quia quasi dolor tempora error saepe numquam commodi nihil eius,
                    amet iste
                    ullam atque qui repudiandae ut, corporis minus. Cumque accusantium impedit a voluptatum
                    necessitatibus aut
                    doloremque eveniet, culpa minima, vel nam reiciendis soluta veniam corporis blanditiis repudiandae
                    earum
                    fugiat?</p>
            </div>
        </div>
    </section> -->

    <!-- Default Styles-->
    <!-- <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="return handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                </section>
    </main> -->

    <!-- <footer>
        <p>This is a footer</p>
    </footer> -->
    <script>

        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script>

</body>

</html>